<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="HS\BannerSlider\Api\BannerRepositoryInterface" type="HS\BannerSlider\Model\BannerRepository"/>
    <preference for="HS\BannerSlider\Api\Data\BannerInterface" type="HS\BannerSlider\Model\Data\Banner"/>
    <preference for="HS\BannerSlider\Api\Data\BannerSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="HS\BannerSlider\Model\ResourceModel\Banner\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">hs_banner_slider_banner</argument>
            <argument name="resourceModel" xsi:type="string">HS\BannerSlider\Model\ResourceModel\Banner\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="hs_banner_slider_banner_listing_data_source" xsi:type="string">HS\BannerSlider\Model\ResourceModel\Banner\Grid\Collection</item>
                <item name="hs_banner_slider_slider_listing_data_source" xsi:type="string">HS\BannerSlider\Model\ResourceModel\Slider\Grid\Collection</item>
                <item name="hs_banner_slider_slider_banner_listing_data_source" xsi:type="string">HS\BannerSlider\Model\ResourceModel\SliderBanner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <preference for="HS\BannerSlider\Api\SliderRepositoryInterface" type="HS\BannerSlider\Model\SliderRepository"/>
    <preference for="HS\BannerSlider\Api\Data\SliderInterface" type="HS\BannerSlider\Model\Data\Slider"/>
    <preference for="HS\BannerSlider\Api\Data\SliderSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="HS\BannerSlider\Model\ResourceModel\Slider\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">hs_banner_slider_slider</argument>
            <argument name="resourceModel" xsi:type="string">HS\BannerSlider\Model\ResourceModel\Slider\Collection</argument>
        </arguments>
    </virtualType>
    <preference for="HS\BannerSlider\Api\SliderBannerRepositoryInterface" type="HS\BannerSlider\Model\SliderBannerRepository"/>
    <preference for="HS\BannerSlider\Api\Data\SliderBannerInterface" type="HS\BannerSlider\Model\Data\SliderBanner"/>
    <preference for="HS\BannerSlider\Api\Data\SliderBannerSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="HS\BannerSlider\Model\ResourceModel\SliderBanner\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">hs_banner_slider_slider_banner</argument>
            <argument name="resourceModel" xsi:type="string">HS\BannerSlider\Model\ResourceModel\SliderBanner\Collection</argument>
        </arguments>
    </virtualType>
</config>
